/* Basic Styling Only, since its not CSS timing*/

/* Basmalah */
.basmalah {
  color: white;
  padding: 7px;
  border-radius: 7px;
  margin-top: 7px;
  margin-bottom: 5px;
  background-color: #219ebc;
}
.basmalah > [lang="ar"] {
  font-weight: bold;
}

body {
  width: 70ch;
  margin: auto;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-top: 17px;
  background-color: #a8dadc;
  padding: 7px;
  padding-top: 9px;
  border-radius: 7px 7px 0 0;
}

header img {
  border: #ffffff solid 3px;
  border-radius: 43%;
}

header .logo-name {
  font-size: x-large;
  color: #1d3557;
}
/* ############################## */

/* Main navigation */
nav[aria-label="main navigation"] {
  background-color: #f1faee;
  padding: 7px;
  border-radius: 0 0 7px 7px;
  border: #a8dadc 2px solid;
  /* margin-top: 0px; */
}
nav[aria-label="main navigation"] > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 11px;
  /* margin-top: 0; */
  margin: 0;
}
/* ############################### */
h1 {
  text-align: center;
}

h1 > span {
  color: #ef233c;
}
/* ############################# */
