/* some color variables */
:root {
  --orange: #c6661c;
}

body {
  margin: 0;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
/* Basmalah */
.basmalah {
  background-color: #3490a7;
  color: white;
  padding: 11px 7px 7px;
}
.basmalah p {
  margin: 0;
  text-align: center;
}
.basmalah > p[lang="ar"] {
  margin-bottom: 7px;
  font-size: 1.3rem;
  font-family: Tajawal, Tahoma;
  font-weight: bold;
}
.basmalah a {
  color: white;
}
.basmalah a:hover {
  text-decoration-color: #212529;
}
.english-basmalah {
  color: #212529;
}
.english-basmalah:hover {
  color: #ffffff;
}
.anchor-arrow {
  color: #ffffff;
}

/* Header content */
.header-content {
  display: flex;

  justify-content: space-between;
  align-items: center;

  background-color: #ced4da;
  padding: 7px 17px;
  /* the following list of fonts are taken from the mdn-web-docs website using the dev-tool */
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
/* logo */
.logo {
  display: flex;
  gap: 5px;
  align-items: center;
}
.logo p {
  font-family: 21px;
}
.main-nav ul {
  list-style: none;
  display: flex;
  gap: 17px;
}
.main-nav ul {
  margin: 0;
}

body {
  margin: 0;
}

/* BYDH Header */
.bydh-header {
  background-color: var(--orange);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* logo */
.bydh-logo {
  color: #fff;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: bold;
}

/* main website navigation */
.bydh-header ul {
  display: flex;
  gap: 21px;
  list-style: none;
  color: white;
}
.bydh-header ul a {
  color: #fff;
}
.bydh-header ul a:hover {
  text-decoration-color: #212529;
}

/* footer */
footer .upper-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px 17px;
  font-size: 0.75rem;
  background-color: #ced4da;
}

footer address {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
footer p {
  margin: 2px;
}

footer .bottom-part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #adb5bd;
  padding: 7px;
}

/* main content */

main {
  width: 70ch;
  margin: auto;
}
h1 {
  text-align: center;
  font-size: 2rem;
}
aside {
  background-color: #d9d9d9;
  padding: 7px;
  border-radius: 17px;
  margin: 7px 0;
}
