section[aria-labelledby="mdn-covered-lessons"] sup {
  color: red;
  font-weight: bold;
}

label {
  display: inline-block;
  width: 111px;
}

label[for="user-study-goal"] {
  width: 200px;
}

label[for="user-message"] {
  display: block;
  width: 100%;
}
